DB_SERVER=(localdb)\mssqllocaldb
DB_USER=app_user
DB_PASSWORD=YourStrongPasswordHere
DB_DATABASE=Processing_Dashboard
JWT_SECRET=YourJwtSecretHere
ADMIN_USER=admin
ADMIN_PASS=admin@123
CMS_USER=cms
CMS_PASS=cms@123
COLORPLAST_USER=colorplast
COLORPLAST_PASS=color@123
PORT=5000
